In [3]:
my_list = [0,1,2,3,4,5]

for item in my_list:
    print("the value of item is: ", str(i))
    
    
for i, value in enumerate(my_list):
    print(f"{i}:{value}")

the value of item is:  5
the value of item is:  5
the value of item is:  5
the value of item is:  5
the value of item is:  5
the value of item is:  5
0:0
1:1
2:2
3:3
4:4
5:5

In [5]:
i = 0

while i < len(my_list):
    print(f"i:{my_list[i]}")
    i+=1

i:0
i:1
i:2
i:3
i:4
i:5

In [14]:
def smallest_positive(my_list):
    small = my_list[0]
    for item in my_list:
        if item < small and item > 0:
            small = item
    return small 

print(smallest_positive([4, -6, 7, 2, -4, 10]))
print(smallest_positive([.2, 5, 3, -.1, 7, 7, 6]))

2
0.2

In [16]:
def maximum_positive(my_list):
    max_num = my_list[0]
    
    for item in my_list:
        if item > 0 and item > max_num:
            max_num = item
    return max_num


print(maximum_positive([.2, 5, 3, -.1, 7, 7, 6]))
print(maximum_positive([4, -6, 7, 2, -4, 10]))

7
10

In [26]:
courses = {
    'spring2020': { 'cs101': {'name': 'Building a Search Engine',
                           'teacher': 'Dave',
                           'assistant': 'Peter C.'},
                 'cs373': {'name': 'Programming a Robotic Car',
                           'teacher': 'Sebastian',
                           'assistant': 'Andy'}},
    'fall2020': { 'cs101': {'name': 'Building a Search Engine',
                           'teacher': 'Dave',
                           'assistant': 'Sarah'},
                 'cs212': {'name': 'The Design of Computer Programs',
                           'teacher': 'Peter N.',
                           'assistant': 'Andy',
                           'prereq': 'cs101'},
                 'cs253': {'name': 'Web Application Engineering - Building a Blog',
                           'teacher': 'Steve',
                           'prereq': 'cs101'},
                 'cs262': {'name': 'Programming Languages - Building a Web Browser',
                           'teacher': 'Wes',
                           'assistant': 'Peter C.',
                           'prereq': 'cs101'},
                 'cs373': {'name': 'Programming a Robotic Car',
                           'teacher': 'Sebastian'},
                 'cs387': {'name': 'Applied Cryptography',
                           'teacher': 'Dave'}},
    'spring2044': { 'cs001': {'name': 'Building a Quantum Holodeck',
                           'teacher': 'Dorina'},
                        'cs003': {'name': 'Programming a Robotic Robotics Teacher',
                           'teacher': 'Jasper'},
                     }
    }


def when_offered(courses, course):
    course_time = []
    for c in courses:
        if course in courses[c]:
            course_time.append(c)
    return course_time

print(when_offered(courses, 'cs101'))

['spring2020', 'fall2020']

In [1]:
#generator

def all_even():
    n = 0 
    while True:
        n+=2
        yield n

even = all_even()

print(next(even))
print(next(even))

2
4

In [17]:
def prod(a,b):
    output = a*b
    return output


def factorial():
    n = 1
    i = 1
    while True:
        output = prod(n, i)
        i = output
        n +=1
        yield output
factor = factorial()
for i in range(5):
    print(next(factor))

1
2
6
24
120

In [37]:
correct = [[1,2,3],
           [2,3,1],
           [3,1,2]]

incorrect = [[1,2,3,4],
             [2,3,1,3],
             [3,1,2,3],
             [4,4,4,4]]

incorrect2 = [[1,2,3,4],
             [2,3,1,4],
             [4,1,2,3],
             [3,4,1,2]]

incorrect3 = [[1,2,3,4,5],
              [2,3,1,5,6],
              [4,5,2,1,3],
              [3,4,5,2,1],
              [5,6,4,3,2]]

incorrect4 = [['a','b','c'],
              ['b','c','a'],
              ['c','a','b']]

incorrect5 = [ [1, 1.5],
               [1.5, 1]]

In [55]:
def sudoku(lst):
    for row in lst:
        check_list = list(range(1, len(lst)+1))
        for i in row:
            if i not in check_list:
                return False
            check_list.remove(i)
        
    for n in range(len(lst[0])):
        check_list = list(range(1, len(lst[0])+1))
        for row in lst:
            if row[n] not in check_list:
                return False
            check_list.remove(row[n])
    return True
    
sudoku(correct)

True

In [10]:
class Person:
    def __init__(self, name, age, month):
        self.name = name
        self.age = age
        self.birthday_month = month
        
    def birthday(self):
        self.age += 1

def create_person_objects(names, ages, months):
    my_data = zip(names, ages, months)
    person_objects = []
    for item in my_data:
        person_objects.append(Person(*item))
    return person_objects

def get_april_birthdays(people):
    # TODO:
    # Increment "age" for all people with birthdays in April.
    
    
    # Return a dictionary "april_birthdays" with the names of
    # all people with April birthdays as keys, and their updated ages 
    # as values. See the test below for an example expected output.
    
    
    april_birthdays = {}
    for person in people:
        person.birthday()
        if person.birthday_month == 'April':
            april_birthdays[person.name] = person.age + 1
    
    # TODO: Modify the return statement 
    return april_birthdays

def get_most_common_month(people):
    # TODO:
    # Use the "months" dictionary to record counts of birthday months
    # for persons in the "people" data.
    # Return the month with the largest number of birthdays.
    months = {'January':0, 'February':0, 'March':0, 'April':0, 'May':0, 
              'June':0, 'July':0, 'August':0, 'September':0, 'October':0,
              'November':0, 'December':0}
    for person in people:
        months[person.birthday_month] +=1
    Max = 0
    
    month = ""
    for key in months:
        if months[key] > Max:
            Max = months[key]
            month = key
    # TODO: Modify the return statement.
    return Max, month


def test():
    # Here is the data for the test. Assume there is a single most common month.
    names = ['Howard', 'Richard', 'Jules', 'Trula', 'Michael', 'Elizabeth', 'Richard', 'Shirley', 'Mark', 'Brianna', 'Kenneth', 'Gwen', 'William', 'Rosa', 'Denver', 'Shelly', 'Sammy', 'Maryann', 'Kathleen', 'Andrew', 'Joseph', 'Kathleen', 'Lisa', 'Viola', 'George', 'Bonnie', 'Robert', 'William', 'Sabrina', 'John', 'Robert', 'Gil', 'Calvin', 'Robert', 'Dusty', 'Dario', 'Joeann', 'Terry', 'Alan', 'Rosa', 'Jeane', 'James', 'Rachel', 'Tu', 'Chelsea', 'Andrea', 'Ernest', 'Erica', 'Priscilla', 'Carol', 'Michael', 'Dale', 'Arthur', 'Helen', 'James', 'Donna', 'Patricia', 'Betty', 'Patricia', 'Mollie', 'Nicole', 'Ernest', 'Wendy', 'Graciela', 'Teresa', 'Nicole', 'Trang', 'Caleb', 'Robert', 'Paul', 'Nieves', 'Arleen', 'Milton', 'James', 'Lawrence', 'Edward', 'Susan', 'Patricia', 'Tana', 'Jessica', 'Suzanne', 'Darren', 'Arthur', 'Holly', 'Mary', 'Randal', 'John', 'Laura', 'Betty', 'Chelsea', 'Margaret', 'Angel', 'Jeffrey', 'Mary', 'Donald', 'David', 'Roger', 'Evan', 'Danny', 'William']
    ages  = [17, 58, 79, 8, 10, 57, 4, 98, 19, 47, 81, 68, 48, 13, 39, 21, 98, 51, 49, 12, 24, 78, 36, 59, 3, 87, 94, 85, 43, 69, 15, 52, 57, 36, 52, 5, 52, 5, 33, 10, 71, 28, 70, 9, 25, 28, 76, 71, 22, 35, 35, 100, 9, 95, 69, 52, 66, 91, 39, 84, 65, 29, 20, 98, 30, 83, 30, 15, 88, 89, 24, 98, 62, 94, 86, 63, 34, 23, 23, 19, 10, 80, 88, 67, 17, 91, 85, 97, 29, 7, 34, 38, 92, 29, 14, 52, 94, 62, 70, 22]
    months = ['January', 'March', 'January', 'October', 'April', 'February', 'August', 'January', 'June', 'August', 'February', 'May', 'March', 'June', 'February', 'August', 'June', 'March', 'August', 'April', 'April', 'June', 'April', 'June', 'February', 'September', 'March', 'July', 'September', 'December', 'June', 'June', 'August', 'November', 'April', 'November', 'August', 'June', 'January', 'August', 'May', 'March', 'March', 'March', 'May', 'September', 'August', 'April', 'February', 'April', 'May', 'March', 'March', 'January', 'August', 'October', 'February', 'November', 'August', 'June', 'September', 'September', 'January', 'September', 'July', 'July', 'December', 'June', 'April', 'February', 'August', 'September', 'August', 'February', 'April', 'July', 'May', 'November', 'December', 'February', 'August', 'August', 'September', 'December', 'February', 'March', 'June', 'December', 'February', 'May', 'April', 'July', 'March', 'June', 'December', 'March', 'July', 'May', 'September', 'November']
    people = create_person_objects(names, ages, months)

    # Calls to the two functions you have completed.
    print(get_april_birthdays(people))
    print(get_most_common_month(people))



test()
# Expected result:
# {'Michael': 11, 'Erica': 72, 'Carol': 36, 'Lisa': 37, 'Lawrence': 87, 'Joseph': 25, 'Margaret': 35, 'Andrew': 13, 'Dusty': 53, 'Robert': 89}
# August

{'Michael': 12, 'Andrew': 14, 'Joseph': 26, 'Lisa': 38, 'Dusty': 54, 'Erica': 73, 'Carol': 37, 'Robert': 90, 'Lawrence': 88, 'Margaret': 36}
(14, 'August')